/* TODO: fix layout of content  */

body {
 margin: 0%;
}
#content {
  height: 100vh;
  width: auto;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);

}

:is(#header, #sidebar, #main, #footer, .card) {
  border: 2px solid black;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 8;
}

#header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
#main {
  grid-column: 2 / -1;
  grid-row: 2 / 8;
}
#footer{
  grid-column: 1 / -1;
  grid-row: 8 / -1;
}

.card {
  height: 2rem;
  width: clamp(70%, 120px, 140px);
  margin: 5px;
}


/* Main container */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* button */
#add-task{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  height: 50px;
  width: 80px;
}